.mj-card {
    padding: 10px 10px 10px 0px;
    position: relative;
    css-class: 'mj-card-text';
}

.mj-card-text p,ul,li {
    font-size: 13px !important;
    font-family: "Adobe Clean", Arial, sans-serif !important;
    color: black;
}

.mj-card-text p{
    margin-bottom: 5px;
    margin-top: 0px;
}

.mj-card-text li{
    margin-bottom: 5px;
    margin-top: 0px;
}

.mj-card-text ul{
    margin-bottom: 15px;
    margin-top: 0px;
}

.mj-card-text img {
    width: 100px;
    height: 100px;
}

